smart bed.json
[{"id":"40375b75.b2de84","type":"tab","label":"Smart Bed","disabled":false,"info":""},{"id":"808075b0.8ed1b8","type":"server-state-changed","z":"40375b75.b2de84","name":"Dave is in bed","server":"67fb9d0f.36c644","version":1,"entityidfilter":"binary_sensor.dave_in_bed","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":110.79727172851562,"y":89.28524684906006,"wires":[["1c9c0e21.243e22","efebaa4c.255658","98a23ed0.d8042"],[]]},{"id":"de1edf54.ff22e","type":"server-state-changed","z":"40375b75.b2de84","name":"Dave is out of the bed","server":"67fb9d0f.36c644","version":1,"entityidfilter":"binary_sensor.dave_in_bed","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":127.91674041748047,"y":341.1928949356079,"wires":[["27928256.133eee","3b17ed5a.6255a2","1af318dc.527337"],[]]},{"id":"1c9c0e21.243e22","type":"time-range-switch","z":"40375b75.b2de84","name":"After 8am","lat":"","lon":"","startTime":"08:00","endTime":"12:00","startOffset":"","endOffset":0,"x":342.7924156188965,"y":64.07268905639648,"wires":[["2f9d7806.37a9e8"],[]]},{"id":"98a23ed0.d8042","type":"time-range-switch","z":"40375b75.b2de84","name":"After 8pm (evening","lat":"","lon":"","startTime":"20:00","endTime":"07:59","startOffset":"","endOffset":0,"x":368.48817443847656,"y":115.95476627349854,"wires":[["276fb7b8.67cb48"],[]]},{"id":"efebaa4c.255658","type":"function","z":"40375b75.b2de84","name":"i_am_in_bed","func":"flow.set (\"i_am_in_bed\",true);\nvar i_am_in_bed_status = flow.get (\"i_am_in_bed\");\nmsg.topic= i_am_in_bed_status;\nreturn msg;","outputs":1,"noerr":0,"x":344.9168281555176,"y":231.1488265991211,"wires":[[]]},{"id":"27928256.133eee","type":"function","z":"40375b75.b2de84","name":"i_am_not_in_bed","func":"flow.set (\"i_am_in_bed\",false);\nvar i_am_in_bed_status = flow.get (\"i_am_in_bed\");\nmsg.topic= i_am_in_bed_status;\nreturn msg;","outputs":1,"noerr":0,"x":373.0596809387207,"y":463.4785051345825,"wires":[[]]},{"id":"e850f695.c678b8","type":"switch","z":"40375b75.b2de84","name":"If i_am_in_bed is true or false","property":"topic","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":641.9169273376465,"y":589.0737524032593,"wires":[["be25518.a2d7fb"],[]]},{"id":"d8187301.0d43a","type":"function","z":"40375b75.b2de84","name":"msg.payload= i_am_in_bed;","func":"var ObtainedData = flow.get (\"i_am_in_bed\");\nmsg.topic= ObtainedData;\nreturn msg;","outputs":1,"noerr":0,"x":375.631046295166,"y":587.6998090744019,"wires":[["e850f695.c678b8"]]},{"id":"222a3c1c.f2ff64","type":"inject","z":"40375b75.b2de84","name":"Every 15 mins","topic":"","payload":"","payloadType":"date","repeat":"900","crontab":"","once":false,"onceDelay":0.1,"x":146.64958953857422,"y":585.7664775848389,"wires":[["d8187301.0d43a"]]},{"id":"985e4894.522f08","type":"comment","z":"40375b75.b2de84","name":"Change in bed status to true","info":"","x":396.83946228027344,"y":184.62789916992188,"wires":[]},{"id":"1ec24584.4b1eea","type":"comment","z":"40375b75.b2de84","name":"Change in bed status to false","info":"","x":399.0648193359375,"y":414.76526927948,"wires":[]},{"id":"3b17ed5a.6255a2","type":"time-range-switch","z":"40375b75.b2de84","name":"After 8pm (evening","lat":"","lon":"","startTime":"20:00","endTime":"07:59","startOffset":"","endOffset":0,"x":369.06482315063477,"y":366.19386100769043,"wires":[["18adf9c9.c1d246"],[]]},{"id":"be25518.a2d7fb","type":"time-range-switch","z":"40375b75.b2de84","name":"After 8am","lat":"","lon":"","startTime":"08:00","endTime":"12:00","startOffset":"","endOffset":0,"x":847.3066902160645,"y":584.646258354187,"wires":[["842648e9.754188"],[]]},{"id":"dedbf731.1c7498","type":"alexa-remote-routine","z":"40375b75.b2de84","name":"Send response to Alexa device","account":"6588f316.6bd45c","routineNode":{"type":"speak","payload":{"type":"regular","text":{"type":"msg","value":"payload"},"devices":["G090LF1174832KTQ"]}},"x":1864.0188026428223,"y":576.2887563705444,"wires":[[]]},{"id":"18960e89.cadd11","type":"function","z":"40375b75.b2de84","name":"Random Naggings of my WiFi","func":"msg.payload = {};\n//new_msg.payload[\"Random\"] = randnum;\nmsg.payload = random;\nvar nagging = [\n    \"Get out of bed you lazy slob\",\n    \"Are you really still in bed, get out\",\n    \"Not surpised you are single, I wouldnlt date a lazy slow like you either\",\n    \"You are going to turn into a fat slob if you stay in bed, move your bum\",\n    \"hello its morning, get out of bed\"\n\n    ];\n\n\nvar random = nagging[Math.floor(Math.random() * nagging.length)];\nmsg.payload = random;\n//return msg;\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1582.9343147277832,"y":579.3570346832275,"wires":[["dedbf731.1c7498"]]},{"id":"1af318dc.527337","type":"time-range-switch","z":"40375b75.b2de84","name":"After 8am","lat":"","lon":"","startTime":"08:00","endTime":"12:00","startOffset":"","endOffset":0,"x":348.7329406738281,"y":318.33631229400635,"wires":[["f79387ba.90c488"],[]]},{"id":"bbef80c1.e7583","type":"alexa-remote-routine","z":"40375b75.b2de84","name":"Send response to Alexa device","account":"6588f316.6bd45c","routineNode":{"type":"speak","payload":{"type":"regular","text":{"type":"msg","value":"payload"},"devices":["G090LF1174832KTQ"]}},"x":1098.1593704223633,"y":380.85979175567627,"wires":[[]]},{"id":"c39446c5.4d88a8","type":"function","z":"40375b75.b2de84","name":"Random Naggings of my WiFi","func":"msg.payload = {};\nmsg.payload = random;\nvar nagging = [\n    \"Good, now stay out\",\n    \"about bliming time\",\n    \"Good, now have a tidy up, your flat is a mess\",\n    \"Finally, you are out of bed\",\n    \"If you get back in i'll be fuming\",\n    \"Good, don't you dare get back in\"\n\n    ];\n\n\nvar random = nagging[Math.floor(Math.random() * nagging.length)];\nmsg.payload = random;\n\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":812.3368606567383,"y":381.249400138855,"wires":[["bbef80c1.e7583"]]},{"id":"adcbb640.4a1528","type":"alexa-remote-routine","z":"40375b75.b2de84","name":"Send response to Alexa device","account":"6588f316.6bd45c","routineNode":{"type":"speak","payload":{"type":"regular","text":{"type":"msg","value":"payload"},"devices":["G090LF1174832KTQ"]}},"x":1095.2075500488281,"y":126.81296062469482,"wires":[[]]},{"id":"862b3a84.6e9118","type":"function","z":"40375b75.b2de84","name":"Random Naggings of my WiFi","func":"msg.payload = {};\nmsg.payload = random;\nvar nagging = [\n    \"Get out of bed you lazy slob\",\n    \"Are you really still in bed, get out\",\n    \"ok so you think you're a comedian do you, get your lazy bum out of bed\",\n    \"You are going to turn into a fat slob if you stay in bed, move your bum\",\n    \"hello its morning, get out of bed\"\n\n    ];\n\n\nvar random = nagging[Math.floor(Math.random() * nagging.length)];\nmsg.payload = random;\n\nreturn msg;","outputs":1,"noerr":0,"x":813.0993881225586,"y":125.92882633209229,"wires":[["adcbb640.4a1528"]]},{"id":"94ecaf80.3377d","type":"comment","z":"40375b75.b2de84","name":"Turn on nagging","info":"","x":129.82945251464844,"y":889.3681983947754,"wires":[]},{"id":"a9d3c6b0.5b7258","type":"inject","z":"40375b75.b2de84","name":"","topic":"Turn on nagging","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":165.2858123779297,"y":930.4491739273071,"wires":[["6c8da8dd.620dd8"]]},{"id":"d1da786e.d73e28","type":"inject","z":"40375b75.b2de84","name":"","topic":"Turn off nagging","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":164.65087890625,"y":1012.8301248550415,"wires":[["458089ad.0902b8"]]},{"id":"6c8da8dd.620dd8","type":"function","z":"40375b75.b2de84","name":"nagging = true","func":"flow.set (\"nagging_on\",true);\nvar nagging_on_status = flow.get (\"nagging_on\");\nmsg.topic= nagging_on_status;\nreturn msg;","outputs":1,"noerr":0,"x":377.40648651123047,"y":930.3384447097778,"wires":[[]]},{"id":"458089ad.0902b8","type":"function","z":"40375b75.b2de84","name":"nagging = false","func":"flow.set (\"nagging_on\",false);\nvar nagging_on_status = flow.get (\"nagging_on\");\nmsg.topic= nagging_on_status;\nreturn msg;","outputs":1,"noerr":0,"x":376.29540252685547,"y":1011.4496126174927,"wires":[[]]},{"id":"2ec8fe21.e3db72","type":"switch","z":"40375b75.b2de84","name":"If nagging_on_status is true","property":"topic","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":565.342960357666,"y":1169.8622064590454,"wires":[["2e749991.e6c376"],["a39ae438.658f78"]]},{"id":"531c4c7a.204294","type":"function","z":"40375b75.b2de84","name":"msg.payload= nagging;","func":"var ObtainedData = flow.get (\"nagging_on\");\nmsg.topic= ObtainedData;\nreturn msg;","outputs":1,"noerr":0,"x":320.0096778869629,"y":1171.3139057159424,"wires":[["2ec8fe21.e3db72"]]},{"id":"2e8853cb.58ef0c","type":"inject","z":"40375b75.b2de84","name":"","topic":"check nagging status","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":117.3942756652832,"y":1172.1455335617065,"wires":[["531c4c7a.204294"]]},{"id":"2e749991.e6c376","type":"alexa-remote-routine","z":"40375b75.b2de84","name":"Nagging enabled","account":"6588f316.6bd45c","routineNode":{"type":"speak","payload":{"type":"regular","text":{"type":"str","value":"Nagging enabled"},"devices":["G090U509851613N5"]}},"x":806.197624206543,"y":1135.5887460708618,"wires":[[]]},{"id":"a39ae438.658f78","type":"alexa-remote-routine","z":"40375b75.b2de84","name":"Nagging disabled","account":"6588f316.6bd45c","routineNode":{"type":"speak","payload":{"type":"regular","text":{"type":"str","value":"Nagging disabled"},"devices":["G090U509851613N5"]}},"x":802.8642654418945,"y":1196.6998472213745,"wires":[[]]},{"id":"bd841e68.4c692","type":"comment","z":"40375b75.b2de84","name":"Turn off nagging","info":"","x":149.45780181884766,"y":973.8427991867065,"wires":[]},{"id":"16fb1855.45ef68","type":"switch","z":"40375b75.b2de84","name":"If nagging_on_status is true","property":"topic","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":787.0389175415039,"y":66.00267696380615,"wires":[["862b3a84.6e9118"],[]]},{"id":"2f9d7806.37a9e8","type":"function","z":"40375b75.b2de84","name":"msg.payload= nagging;","func":"var ObtainedData = flow.get (\"nagging_on\");\nmsg.topic= ObtainedData;\nreturn msg;","outputs":1,"noerr":0,"x":536.1818618774414,"y":64.78769207000732,"wires":[["16fb1855.45ef68"]]},{"id":"f79387ba.90c488","type":"function","z":"40375b75.b2de84","name":"msg.payload= nagging;","func":"var ObtainedData = flow.get (\"nagging_on\");\nmsg.topic= ObtainedData;\nreturn msg;","outputs":1,"noerr":0,"x":538.9252700805664,"y":314.58631229400635,"wires":[["7c90494.00335b8"]]},{"id":"7c90494.00335b8","type":"switch","z":"40375b75.b2de84","name":"If nagging_on_status is true","property":"topic","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":789.5918960571289,"y":315.41968631744385,"wires":[["c39446c5.4d88a8"],[]]},{"id":"6fe6412e.a822e","type":"comment","z":"40375b75.b2de84","name":"Continous nagging","info":"","x":127.37983322143555,"y":544.4081974029541,"wires":[]},{"id":"842648e9.754188","type":"function","z":"40375b75.b2de84","name":"msg.payload= nagging;","func":"var ObtainedData = flow.get (\"nagging_on\");\nmsg.topic= ObtainedData;\nreturn msg;","outputs":1,"noerr":0,"x":1051.2077369689941,"y":583.5474624633789,"wires":[["794b20b3.cdf0e"]]},{"id":"794b20b3.cdf0e","type":"switch","z":"40375b75.b2de84","name":"If nagging_on_status is true","property":"topic","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1313.2315864562988,"y":581.5235795974731,"wires":[["18960e89.cadd11"],[]]},{"id":"f7a25a3e.e4c878","type":"webhookrelay","z":"40375b75.b2de84","buckets":"nodered","x":132.51201629638672,"y":741.6562663316727,"wires":[["e9f29d35.518b5"]]},{"id":"e9f29d35.518b5","type":"function","z":"40375b75.b2de84","name":"Exact Body","func":"return {\n\npayload: msg.payload.body\n\n};","outputs":1,"noerr":0,"x":248.51200103759766,"y":785.6562377214432,"wires":[["354c1657.04707a"]]},{"id":"354c1657.04707a","type":"json","z":"40375b75.b2de84","name":"json","property":"payload","action":"","pretty":false,"x":389.51207733154297,"y":784.6562281847,"wires":[["5d530b04.7e8954"]]},{"id":"5d530b04.7e8954","type":"switch","z":"40375b75.b2de84","name":"switch","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"nag-on","vt":"str"},{"t":"eq","v":"nag-off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":553.5120277404785,"y":784.6562587022781,"wires":[["6c8da8dd.620dd8"],["458089ad.0902b8"]]},{"id":"ac9c283c.4978d8","type":"alexa-remote-routine","z":"40375b75.b2de84","name":"Nagging enabled","account":"6588f316.6bd45c","routineNode":{"type":"speak","payload":{"type":"regular","text":{"type":"str","value":"Nagging enabled"},"devices":["G090U509851613N5"]}},"x":580.3453903198242,"y":931.8230609893799,"wires":[[]]},{"id":"e8bdffa5.3c145","type":"alexa-remote-routine","z":"40375b75.b2de84","name":"Nagging disabled","account":"6588f316.6bd45c","routineNode":{"type":"speak","payload":{"type":"regular","text":{"type":"str","value":"Nagging disabled"},"devices":["G090U509851613N5"]}},"x":574.0120239257812,"y":1008.9340896606445,"wires":[[]]},{"id":"e0a8bbb7.3eb528","type":"inject","z":"40375b75.b2de84","name":"Bedroom off","topic":"Bedroom off","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":406.127685546875,"y":1565.319055557251,"wires":[["6d7bbe0b.05cd2"]]},{"id":"91e94d71.5f8c5","type":"inject","z":"40375b75.b2de84","name":"Bedroom on","topic":"Bedroom on","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":406.1277389526367,"y":1519.3189992904663,"wires":[["6d7bbe0b.05cd2"]]},{"id":"f9ab6311.dbaf4","type":"debug","z":"40375b75.b2de84","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":737.4162788391113,"y":1545.915337562561,"wires":[]},{"id":"6d7bbe0b.05cd2","type":"ewelink-power-state-write","z":"40375b75.b2de84","name":"Bedroom","deviceId":"100062a5bc","channel":1,"auth":"95f9743c.d13008","x":595.4979553222656,"y":1547.124340057373,"wires":[["f9ab6311.dbaf4"]]},{"id":"276fb7b8.67cb48","type":"function","z":"40375b75.b2de84","name":"Turn off all lights","func":"msg.payload= \"off\"\nreturn msg;","outputs":1,"noerr":0,"x":198.60663604736328,"y":1421.8507680892944,"wires":[["712b8351.4049dc","ca4b5ffb.0ac46","6d7bbe0b.05cd2","7481ad6f.d6dc84","2b6287e4.19eee8","c726fce9.d470a"]]},{"id":"18adf9c9.c1d246","type":"function","z":"40375b75.b2de84","name":"Turn on some lights","func":"msg.payload= \"on\"\nreturn msg;","outputs":1,"noerr":0,"x":200.90789413452148,"y":1546.6376810073853,"wires":[["6d7bbe0b.05cd2","7481ad6f.d6dc84","712b8351.4049dc"]]},{"id":"5f6b4b35.0be4c4","type":"inject","z":"40375b75.b2de84","name":"Bathroom off","topic":"Bathroom off","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":396.80074310302734,"y":1655.030550956726,"wires":[["7481ad6f.d6dc84"]]},{"id":"1a6c4eec.a00db1","type":"inject","z":"40375b75.b2de84","name":"Bathroom on","topic":"Bathroom on","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":396.80079650878906,"y":1609.0304946899414,"wires":[["7481ad6f.d6dc84"]]},{"id":"d9482d38.c4cc9","type":"debug","z":"40375b75.b2de84","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":728.0893363952637,"y":1635.6268329620361,"wires":[]},{"id":"7481ad6f.d6dc84","type":"ewelink-power-state-write","z":"40375b75.b2de84","name":"Bathroom","deviceId":"10006bce68","channel":1,"auth":"95f9743c.d13008","x":586.171012878418,"y":1636.8358354568481,"wires":[["d9482d38.c4cc9"]]},{"id":"4f85463a.5e51c8","type":"inject","z":"40375b75.b2de84","name":"Hall off","topic":"Hall off","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":373.05074310302734,"y":1744.3575773239136,"wires":[["2b6287e4.19eee8"]]},{"id":"6d55ef3a.eb682","type":"inject","z":"40375b75.b2de84","name":"Hall on","topic":"Hall on","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":373.05079650878906,"y":1698.357521057129,"wires":[["2b6287e4.19eee8"]]},{"id":"b795ad2a.d295","type":"debug","z":"40375b75.b2de84","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":724.3393363952637,"y":1724.9538593292236,"wires":[]},{"id":"2b6287e4.19eee8","type":"ewelink-power-state-write","z":"40375b75.b2de84","name":"Hall","deviceId":"1000520418","channel":1,"auth":"95f9743c.d13008","x":572.421012878418,"y":1726.1628618240356,"wires":[["b795ad2a.d295"]]},{"id":"93e520cb.7325f","type":"inject","z":"40375b75.b2de84","name":"Lounge off","topic":"Lounge off","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":403.05074310302734,"y":1374.3575773239136,"wires":[["ca4b5ffb.0ac46"]]},{"id":"7c0ad2d2.96e35c","type":"inject","z":"40375b75.b2de84","name":"Lounge on","topic":"Lounge on","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":403.05079650878906,"y":1328.357521057129,"wires":[["ca4b5ffb.0ac46"]]},{"id":"4b2b114a.3dfe6","type":"debug","z":"40375b75.b2de84","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":744.3393363952637,"y":1354.9538593292236,"wires":[]},{"id":"ca4b5ffb.0ac46","type":"ewelink-power-state-write","z":"40375b75.b2de84","name":"Lounge","deviceId":"1000623fa3","channel":1,"auth":"95f9743c.d13008","x":602.421012878418,"y":1356.1628618240356,"wires":[["4b2b114a.3dfe6"]]},{"id":"b5b6f11b.ab484","type":"inject","z":"40375b75.b2de84","name":"Kitchen off","topic":"Kitchen off","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":371.80074310302734,"y":1838.1075773239136,"wires":[["c726fce9.d470a"]]},{"id":"51999f1f.4b7ac","type":"inject","z":"40375b75.b2de84","name":"Kitchen on","topic":"Kitchen on","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":371.80079650878906,"y":1792.107521057129,"wires":[["c726fce9.d470a"]]},{"id":"65cda32a.93e39c","type":"debug","z":"40375b75.b2de84","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":713.0893363952637,"y":1818.7038593292236,"wires":[]},{"id":"c726fce9.d470a","type":"ewelink-power-state-write","z":"40375b75.b2de84","name":"Kitchen","deviceId":"1000623fa3","channel":"2","auth":"95f9743c.d13008","x":571.171012878418,"y":1819.9128618240356,"wires":[["65cda32a.93e39c"]]},{"id":"c6d1fc33.bee03","type":"inject","z":"40375b75.b2de84","name":"Door off","topic":"Door off","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":380.55074310302734,"y":1466.8575773239136,"wires":[["712b8351.4049dc"]]},{"id":"89249eb8.01914","type":"inject","z":"40375b75.b2de84","name":"Door on","topic":"Door on","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":380.55079650878906,"y":1420.857521057129,"wires":[["712b8351.4049dc"]]},{"id":"5057cbfc.466ae4","type":"debug","z":"40375b75.b2de84","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":731.8393363952637,"y":1447.4538593292236,"wires":[]},{"id":"712b8351.4049dc","type":"ewelink-power-state-write","z":"40375b75.b2de84","name":"Door","deviceId":"1000520198","channel":"1","auth":"95f9743c.d13008","x":579.921012878418,"y":1448.6628618240356,"wires":[["5057cbfc.466ae4"]]},{"id":"b9658bcb.0fb5a8","type":"comment","z":"40375b75.b2de84","name":"Sonoff Lights (eWeLink)","info":"","x":391.9048309326172,"y":1279.5239553451538,"wires":[]},{"id":"125d7867.3cbe28","type":"comment","z":"40375b75.b2de84","name":"Get nagging status","info":"","x":138.09527587890625,"y":1123.095377922058,"wires":[]},{"id":"5deede9c.6135c","type":"comment","z":"40375b75.b2de84","name":"Turn off / on nagging via webhook request","info":"","x":203.88892364501953,"y":697.2221736907959,"wires":[]},{"id":"8edb6cc6.62dfb","type":"comment","z":"40375b75.b2de84","name":"When Dave is in bed","info":"","x":128.888916015625,"y":38.333335876464844,"wires":[]},{"id":"d65e4e84.0e56d","type":"comment","z":"40375b75.b2de84","name":"When Dave is out bed","info":"","x":129.99999237060547,"y":296.6666564941406,"wires":[]},{"id":"67fb9d0f.36c644","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true},{"id":"6588f316.6bd45c","type":"alexa-remote-account","z":"","name":"","authMethod":"proxy","proxyOwnIp":"192.168.1.113","proxyPort":"3457","cookieFile":"authFile","refreshInterval":"3","alexaServiceHost":"alexa.amazon.co.uk","amazonPage":"amazon.co.uk","acceptLanguage":"en-UK","userAgent":"","useWsMqtt":"on","autoInit":"on"},{"id":"95f9743c.d13008","type":"ewelink-credentials","z":""}]